.header__language {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  cursor: pointer;
}

@media (max-width: 425px) {
  .header__language {
    font-size: 18px;
    line-height: 20px;
  }
}
