.cover__subtitle {
  font-weight: 400;
  text-align: center;
  z-index: 3;
  font-size: 18px;
  line-height: 22px;
  pointer-events: none;
  margin: 0 auto;
  max-width: 380px;
}

@media (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 280px;
  }
}
