.lead__title {
  font-weight: 900;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
}

@media (max-width: 767px) {
  .lead__title {
    margin: 0 16px 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
